body {
    font-size: 30px;
}

.escondido {
    display: none;
}

.troca-de-valor {
    max-width: 90px;
}

.tabela-de-precos {
    width: 100%;
}

    .tabela-de-precos thead {
        font-weight: bold;
    }

    .tabela-de-precos tbody tr:nth-child(odd) {
        background-color: #faf3f3;
    }

.nome-do-grupo {
    font-weight: bold;
}

.nome-do-produto {
    min-width: 500px;
}

.forma-de-venda, .preco {
    min-width: 100px;
    text-align: center;
}

@media print {
    .tabela-de-precos tbody tr:nth-child(odd) {
        background-color: #faf3f3 !important;
    }
}
